#buttons a {
  display: block;
  box-sizing: border-box;
  width: 9.9vw;
  height: 9.9vh;
  float: left;
  padding: 0;
  margin: 0;
  border: solid 1px #eee;
  background: red;

  text-align: center;
  text-decoration: none;
  font-size: 4vh;
  line-height: 10vh;
  color: white;
}
#buttons a.active {
  background: green;
}
